.messages-area {
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    max-height: 500px;
    overflow-y: auto;
    .message {
        background: whitesmoke;
        border-radius: 5px;
        padding: 5px;
    }
}

